@font-face {
    font-family: Nevis;
    src: url(../assets/nevis.ttf);
    }
header {
    background-color: #3468C0;
    color: white;
}
table {
    margin: auto;
    }
.clastixtxt {
    font-family: Nevis;
    font-size: 25px
}
.txtafterclastix {
    font-family: nevis;
    font-size: 13px;
}
#welcome {
    text-align: center;
}
#slogantxt {
    font-size: 11px;
    margin-top: -1px;
}
#iconpng {
    width: 100px;
}
.youchoosebut {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px
}
#welcometxt2 {
    font-size: small;
    margin-top: -11px;
}
h4,h1,p{
    font-family: Nevis;
    text-align: center;
}
.credittextnah {
    font-size: small;
    margin-top: 35px;
}
#ahhfuc2 {
    margin-top: -10px;
}

#descsquaresideid {
    margin-top: 5px;
    font-weight: bold;
}

#fieldsqrside {
    margin-top: 7px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#fieldsqrside:focus {
    border: solid gray;
}

.inputfield {
    display: flex;
    flex-direction: column;
}
#descsquaresideid {
    font-family: Nevis;
}
button {
    color:white;
    font-family: Nevis;
    background-color: #86A7FC;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}
button:hover {
    background-color: deepskyblue;
}
button:active {
    background-color: #3468C0;
    transform: translateY(3px);
    box-shadow: 0 1px #999;
}